@media (min-width: 700px) {
    .nav {
        width: 100%;
        top: 0px;
        right: 0px;
        position: fixed;
        background-image: linear-gradient(to bottom right, rgb(0, 191, 255), rgb(137, 69, 177));
        z-index: 100;
    }

    .container {
        margin: 0%;
        padding: 0.2rem;
        display: flex;
        justify-content: center;
    }

    .link {
        padding: 0.5rem 1rem 0.5rem 1rem;
        margin: 0.5rem;
        text-decoration: none;
        color: white;
        cursor: pointer;
        border-radius: 2rem;
        transition: all 2s ease;
        font-size: 1rem;
    }

    .link:hover {
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }

    .link:active {
        background-color: black;
        transform: scale(1.2);
    }

    .button_response {
        display: none;
    }

}


@media (max-width: 500px) {
    .container {
        display: none;
    }

    .nav_response_close {
        position: fixed;
        top: 0rem;
        left: 0rem;
        background-color: aqua;
        z-index: 4000;
        width: 100%;
        background-image: linear-gradient(to top left, rgb(0, 191, 255), rgb(137, 69, 177));
    }

    .link {
        display: block;
        padding: 0.1rem;
        margin: 2rem;
        width: 20rem;
        font-size: 2rem;
    }

    .button_response {
        font-size: 5rem;
        position: relative;
        left: 84%;
        z-index: 3000;
        background-color: transparent;
        border: none;

    }

    .nav_response_open {
        right: 1rem;
        color: white;
        position: fixed;
        display: flex;
        left: 0rem;
        top: 5rem;
        flex-direction: column;
        z-index: 2000;
        width: 100%;
        background-image: linear-gradient(to bottom left, rgb(0, 191, 255), rgb(137, 69, 177));
    }
}