@media (min-width: 640px) {
.container_modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    top: -1rem;
    z-index: 1000;
}

.button_modal {
    color: rgba(230, 19, 19, 0.708);
    font-size: 5vw;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    transition: all ease 1s;
}

.container_button_modal {
    position: absolute;
    z-index: 100;
    top: 8vw;
    right: 12vw;
}

.button_modal:hover {
    color: rgb(255, 0, 0);
    transform: rotate(360deg);
}


.image_modal {
    position: relative;
    top: 3rem;
    right: 2rem;
    position: relative;
    width: 89vw;
    height: 90vh;
}

}
/* --------------------------------------------------------------------------------------------------------- */

@media (max-width: 639px) {
.container_modal {
    width: 100vw;
    height: 350vw;
    position: fixed;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    top: 10vw;
    left: -17vw;
    z-index: 4000;
    transform: rotate(90deg);
}

.button_modal {
    color: rgba(230, 19, 19, 0.708);
    font-size: 4rem;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    transition: all ease 1s;
    z-index:4000;
 
}

.container_button_modal {
    position: absolute;
    z-index: 100;
    top: 30vw;
    right: 190vw;
    z-index:5000;
       transform: rotate(90deg);
}

.button_modal:hover {
    color: rgb(255, 0, 0);
    transform: rotate(360deg);
}


.image_modal {
    position: relative;
    top: 20vw;
    right: 20vw;
    position: relative;
    width: 320vw;
    height:180vw;
    z-index: 4000;
}

}
/* ---------------------------------------------------------============== */


@media (max-width: 280px) {
.container_modal {
    width: 100vw;
    height: 350vw;
    position: fixed;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    top: 50vw;
    left: 10vw;
    z-index: 4000;
    transform: rotate(90deg);
}

.button_modal {
    color: rgba(230, 19, 19, 0.708);
    font-size: 4rem;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    transition: all ease 1s;
    z-index:4000;
 
}

.container_button_modal {
    position: absolute;
    z-index: 100;
    top: 30vw;
    right: 205vw;
    z-index:5000;
       transform: rotate(90deg);
}

.button_modal:hover {
    color: rgb(255, 0, 0);
    transform: rotate(360deg);
}


.image_modal {
    position: relative;
    top: 20vw;
    right: 20vw;
    position: relative;
    width: 360vw;
    height:200vw;
    z-index: 4000;
}

}