@media (min-width: 501px) {
    .div_father {
        background-image: linear-gradient(330deg, #00a4d7 0, #187499 25%, #1f4459 50%, #131a20 75%, #3f27a1 100%);
        position: relative;
        top: 3rem;
        padding: 1rem;
        left: 0px;
        right: 0px;
        box-sizing: border-box;
    }

    .title {
        font-size: 3rem;
        color: white;
        padding: 2rem;
        margin-top: 2rem;
        background-color: rgba(210, 62, 240, 0.46);
        display: inline-block;
        border-radius: 1rem 1rem 0rem 0rem;
        margin: 1rem 1rem 0rem 1rem;
    }

    .article {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        align-self: center;
        padding: 2rem;
        background-color: rgba(210, 62, 240, 0.46);
        flex-wrap: wrap;
        border-radius: 0rem 2rem 0rem 0rem;
        margin: 0rem 1rem 0rem 1rem;
    }

    .span {
        text-align: center;
        font-size: 1.4rem;
        margin: 0.3rem;
        padding: 1rem;
        width: 16rem;
        height: 5rem;
        color: white;
        border-radius: 1rem;
        background-color: #00a5d76c;
    }

    .title_hard {
        font-size: 3rem;
        position: relative;
        color: white;
        padding: 2rem;
        background-color: rgb(74, 62, 240);
        display: inline-block;
        border-radius: 1rem 1rem 0rem 0rem;
    }



    .container_title {
        display: flex;
        align-content: flex-start;
        justify-content: flex-end;
        background-color: rgba(210, 62, 240, 0.46);
        margin: 0rem 1rem 0rem 1rem;
    }


    .article_hard {
        bottom: 1rem;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2rem;
        margin: 0rem 1rem 0rem 1rem;
        border-radius: 0rem 0rem 2rem 2rem;
        background-color: rgb(74, 62, 240);
    }

}

/* ------------------------------------------------------------------ */
@media (max-width:500px) {
    .div_father {
        background-image: linear-gradient(330deg, #00a4d7 0, #187499 25%, #1f4459 50%, #131a20 75%, #3f27a1 100%);
        position: relative;
        top: 5rem;
        padding: 1rem;
        left: 0px;
        right: 0px;
        box-sizing: border-box;
        width: 200%;
    }

    .title {
        font-size: 3rem;
        color: white;
        padding: 2rem;
        margin-top: 2rem;
        background-color: rgba(210, 62, 240, 0.46);
        display: inline-block;
        border-radius: 1rem 1rem 0rem 0rem;
        margin: 1rem 1rem 0rem 1rem;
    }

    .article {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        align-self: center;
        padding: 2rem;
        background-color: rgba(210, 62, 240, 0.46);
        flex-wrap: wrap;
        border-radius: 0rem 2rem 0rem 0rem;
        margin: 0rem 1rem 0rem 1rem;
    }

    .span {
        text-align: center;
        font-size: 2rem;
        margin: 0.3rem;
        padding: 1rem;
        width: 16rem;
        color: white;
        border-radius: 1rem;
        background-color: #00a5d76c;
    }

    .title_hard {
        font-size: 3rem;
        position: relative;
        color: white;
        padding: 2rem;
        background-color: rgb(74, 62, 240);
        display: inline-block;
        border-radius: 1rem 1rem 0rem 0rem;
    }



    .container_title {
        display: flex;
        align-content: flex-start;
        justify-content: flex-end;
        background-color: rgba(210, 62, 240, 0.46);
        margin: 0rem 1rem 0rem 1rem;
    }


    .article_hard {
        bottom: 1rem;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0rem 1rem 0rem 1rem;
        border-radius: 0rem 0rem 2rem 2rem;
        background-color: rgb(74, 62, 240);
    }
}

@media (max-width:200px) {
    .div_father {
        background-image: linear-gradient(330deg, #00a4d7 0, #187499 25%, #1f4459 50%, #131a20 75%, #3f27a1 100%);
        position: relative;
        top: 5rem;
        padding: 1rem;
        left: 0px;
        right: 0px;
        box-sizing: border-box;
        width: 200%;
    }

    .title {
        font-size: 3rem;
        color: white;
        padding: 2rem;
        margin-top: 2rem;
        background-color: rgba(210, 62, 240, 0.46);
        display: inline-block;
        border-radius: 1rem 1rem 0rem 0rem;
        margin: 1rem 1rem 0rem 1rem;
    }

    .article {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        align-self: center;
        padding: 2rem;
        background-color: rgba(210, 62, 240, 0.46);
        flex-wrap: wrap;
        border-radius: 0rem 2rem 0rem 0rem;
        margin: 0rem 1rem 0rem 1rem;
    }

    .span {
        text-align: center;
        font-size: 2rem;
        margin: 0.3rem;
        padding: 1rem;
        width: 16rem;
        color: white;
        border-radius: 1rem;
        background-color: #00a5d76c;
    }

    .title_hard {
        font-size: 3rem;
        position: relative;
        color: white;
        padding: 2rem;
        background-color: rgb(74, 62, 240);
        display: inline-block;
        border-radius: 1rem 1rem 0rem 0rem;
    }



    .container_title {
        display: flex;
        align-content: flex-start;
        justify-content: flex-end;
        background-color: rgba(210, 62, 240, 0.46);
        margin: 0rem 1rem 0rem 1rem;
    }


    .article_hard {
        bottom: 1rem;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0rem 1rem 0rem 1rem;
        border-radius: 0rem 0rem 2rem 2rem;
        background-color: rgb(74, 62, 240);
    }
}