.div_father {
    background-image: linear-gradient(330deg, #057192 0, #125c7a 25%, #1f4459 50%, #131a20 75%, #340753 100%);
    position: relative;
    top: 5rem;
    padding: 1rem;
    left: 0px;
    right: 0px;
    box-sizing: border-box;
    color: white;
}

.title {
    font-size: 3.5rem;
    color: rgba(206, 112, 40, 0.926);
    padding: 2rem;
    margin: 0;
    border-bottom: 0.2rem solid rgb(255, 255, 255);
}

.paragrahp_title {
    font-size: 1.5rem;
}

.content_span {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.father_title_technologies {
    font-size: 2rem;
    padding: 1rem;
}

.title_technologies {
    display: block;
    font-size: 1.5rem;
    width: 22rem;
    padding: 1.2rem;
    transition: all ease 1s;
}

.title_technologies:hover {
    border-right: 0.1rem solid white;
    background-color: rgba(195, 32, 124, 0.809);
    border-radius: 1rem;
}

.span {
    padding: 1rem;
    border-radius: 1rem;
    margin: 0.3rem;
    font-size: 1.4rem;
    background-color: rgba(74, 91, 91, 0.619);
    border: 0.1rem solid rgba(255, 255, 255, 0.345);
}


.content_span_request {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.span_request {
    padding: 1rem;
    margin: 1rem;
    font-size: 1.3rem;
    background-color: rgba(29, 86, 136, 0.437);
    transition: all ease 1s;
}

.span_request:hover {
    border: none;
    transform: scaleY(1.6);
    border-right: 0.6rem solid #ffffff;
}