@media (min-width: 700px) {
    .container {
        background-color: rgba(7, 214, 148, 0.505);
        text-align: center;
        margin: 0.5rem;
        padding: 0.2rem 2rem 2rem 2rem;
        width: 12rem;
        border-radius: 2rem;
        transition: all 1s ease;
    }

    .container:hover {
        box-shadow: rgba(141, 41, 172, 0.17) 0px -23px 25px 0px inset, rgba(157, 47, 47, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .title {
        font-size: 1.4rem;
        color: white;
        transition: all 1s ease;
    }

    .title:hover {
        letter-spacing: 0.3rem;

    }

    .image {
        position: relative;

    }
}

/* -------------------------------------------------------------------------------------- */
@media (max-width:500px) {
    .container {
        text-align: center;
        padding: 0.2rem 2rem 2rem 2rem;
        border-radius: 50%;
        transition: all 1s ease;
        height: 10rem;
    }

    .container:hover {
        box-shadow: rgba(141, 41, 172, 0.17) 0px -23px 25px 0px inset, rgba(157, 47, 47, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .title {
        display: none;
        font-size: 1.4rem;
        color: white;
        transition: all 1s ease;
    }

    .title:hover {
        letter-spacing: 0.3rem;

    }

    .image {
        position: relative;
        top: 1.7rem;
    }
}

/* ------------------------------- */
@media (max-width:200gipx) {
    .container {
        text-align: center;
        padding: 0.2rem 2rem 2rem 2rem;
        border-radius: 50%;
        transition: all 1s ease;
        height: 10rem;
    }

    .container:hover {
        box-shadow: rgba(141, 41, 172, 0.17) 0px -23px 25px 0px inset, rgba(157, 47, 47, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .title {
        display: none;
        font-size: 1.4rem;
        color: white;
        transition: all 1s ease;
    }

    .title:hover {
        letter-spacing: 0.3rem;

    }

    .image {
        position: relative;
        top: 1.7rem;
    }
}