.div_father {
    background-image: linear-gradient(330deg, #00a4d7 0, #187499 25%, #1f4459 50%, #131a20 75%, #000000 100%);
    position: relative;
    top: 5rem;
    padding: 1rem;
    left: 0px;
    right: 0px;
    box-sizing: border-box;
}

.main {
    position: relative;
    top: 3rem;
}

.container_image_header {
    display: flex;
    justify-content: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('https://media.diariouno.com.ar/p/2053685777c17f7a354882c18c2c4965/adjuntos/298/imagenes/008/983/0008983696/1200x0/smart/perilago-norte-dique-potrerillos-43jpeg.jpeg');
    margin-bottom: 4rem;
    background-position-y: -8rem;
    background-position-x: 1rem;
    padding: 10rem;
    border-bottom: 10px solid transparent;
    border-image: linear-gradient(0.25turn, rgb(35, 145, 213), rgb(36, 86, 166), rgb(90, 5, 188));
    border-image-slice: 1;
    width: 100%;
}

.image {
    margin: 2rem;
    position: absolute;
    border-radius: 50%;
    top: 9rem;
    transition: all 2s ease;
    animation: movingArrow 1s infinite;
    background-image: linear-gradient(0.25turn, rgb(35, 100, 177), rgb(36, 86, 166), rgb(49, 66, 171));

}


.header {
    position: absolute;
    font-size: 3rem;
    top: -2rem;
    color: white;

}

.article {
    position: relative;
    color: white;
    padding: 4rem;
    font-size: 2rem;
    top: 4rem;
    text-align: justify;
}

.paragraph {
    padding: 2rem;
}