.link {
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    margin: 0.2rem;
    width: 12rem;
    transition: all 2s ease;
    background-color: rgba(225, 225, 225, 0.4);
    border-radius: 3rem;
}

.link:hover {

    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.span_link {
    transition: all ease 2s;
}

.span_link:hover {
    letter-spacing: 2px;
}

.link:active {
    box-shadow: rgba(225, 225, 225, 0.4) 0px 5px, rgba(225, 225, 225, 0.4) 0px 5px, rgba(225, 225, 225, 0.4) 0px 5px;
}

.image_botton {
    margin: 0.5rem;
    width: 5rem;
    height: 5rem;
    transition: all ease 2s;
}

.image_botton:hover {
    transform: scale(1.5);
}