.input_email {
    background-color: rgba(17, 92, 149, 0.475);
    width: 90vh;
    padding: 1rem;
    font-size: 2rem;
    margin: 1rem;
    border: none;
    border-radius: 1rem;
    color: rgb(218, 197, 238);
}

.error_email {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    transition: all ease 1s;
    padding: 1rem;
    margin-left: 1rem;
    background-color: rgba(255, 0, 0, 0.466);
}

.input_textarea {
    background-color: rgba(17, 92, 149, 0.475);
    padding: 2rem;
    font-size: 2rem;
    width: 90vh;
    margin: 1rem;
    border-radius: 1rem;
    resize: none;
    border: none;
    color: rgb(218, 197, 238);
}

.content_input_email {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.content_textarea {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.error_textarea {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    transition: all ease 1s;
    padding: 1rem;
    margin-left: 1rem;
    background-color: rgba(255, 0, 0, 0.466);
}