.container_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.header {
    font-size: 1.3rem;
}

.section {
    text-align: center;
    width: 18rem;
    background-color: rgba(154, 23, 104, 0.522);
    border-radius: 2rem;
    padding: 2rem;
    margin: 1rem;
    transition: all ease 2s;
}

.section:hover {
    background-color: rgb(74, 15, 146);
}